@import url('https://fonts.googleapis.com/css2? family = Open + Sans: wght @ 700 & display = swap');

@import url('https://fonts.googleapis.com/css2? família = Blinker: wght @ 300 &family = Poppins: wght @ 300 & family = Fonte + Sans + Pro: wght @ 700 & display = swap');



main{
    background-image: linear-gradient(to left, transparent 0%, #2b2a2a 85%), url(../img/primeirafase.jpg);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.texto{
    width: 25vw;
    height: 85vh;
    margin-left: 5vh;
    text-align: justify;
    color: rgb(143, 7, 7);
    background-image: url(../img/fundo-dois.jpg);
    background-size: cover;
    border-radius: 5vh;
}

.texto p{
    padding: 2vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.7vh;
    font-weight: bold;
    height: 75vh;
    line-height: normal;
}

.resposta{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

button{
    width: 10vw;
    height: 5vh;
    background-color: rgb(143, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 2vh;
}

button:hover{
    background-color: darkorange;
}


footer{
    width: 100vw;
    height: 5vh;
    bottom: 0vh;
    text-align: center;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 2vh;
    font-weight: bold;
    background-color: #808080;
    color: black;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 700px) {

    body{
        width: 100%;
        margin: 0px;
    }

    main{
        padding: 0 0 30px 0;
        width: 700px;
        height: 1400px;
        background-image: url(../img/fundo-dois.jpg);
        background-size: cover;
        justify-content: center;
    }

    .texto{
        width: 600px;
        height: 900px;
        text-align: center;
        background-image: none;
        background-color: rgb(143, 7, 7);
        border-radius: 30px;
        margin: 0px;
    }
    
    .texto p{
        padding: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-weight: normal;
        height: 750px;
        color: white;
        justify-content: center;
        display: flex;
        align-items: center;
        line-height: normal;
    }

    button{
        width: 125px;
        height: 40px;
        background-color: green;
        font-size: 22px;
    }

    footer{
        width: 700px;
    }

}