@import url('https://fonts.googleapis.com/css2? família = Blinker: wght @ 300 &family = Poppins: wght @ 300 & family = Fonte + Sans + Pro: wght @ 700 & display = swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0vh;
    justify-content: center;
    align-items: center;

}

main{
    background-image: url(../img/fundo-dois.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding-bottom: 10vh;
    flex-direction: column;
}

.mensagem{
    width: 100vw;
    height: 70vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 10vh;
    color: green;
    text-align: center;
}

.botao{
    width: 100vw;
    height: 40vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


button{
    width: 15vw;
    height: 5vh;
    align-items: center;
    background-color: rgb(143, 7, 7);
    transition: 0.5s background;
}

button:hover{
    background-color: darkorange;
}

.botao a {
    color: white;
    text-decoration: none;
}

footer{
    width: 100vw;
    height: 5vh;
    bottom: 0vh;
    text-align: center;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 2vh;
    font-weight: bold;
    background-color: #808080;
    color: black;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 700px){

    body{
        width: 700px;
        margin: 0px;
    }

    main{
        padding: 0 0 30px 0;
        width: 700px;
        height: 1400px;
        background-size: cover;
    }


    .mensagem{
        width: 700px;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao{
        width: 700px;
        height: 50px;
    }

    button{
        width: 170px;
        height: 50px;
    }

    button a {
        font-size: 20px;
    }

    footer{
        width: 700px;
    }
}