@import url('https://fonts.googleapis.com/css2? família = Blinker: wght @ 300 &family = Poppins: wght @ 300 & family = Fonte + Sans + Pro: wght @ 700 & display = swap');

@import url('https://fonts.googleapis.com/css2? family = Abrir + Sans: wght @ 700 & display = swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


.main{
    background-image: url(../img/fundo-dois.jpg);
    background-size: 100% 100%;
    padding: 20px 20px;
}

.main h1{
    font-family: 'Dancing Script', cursiva;
    font-weight: bold;
    font-size: 100px;
    color: green;
    text-align: center;
    border-top: 50px;
}

.pergaminho{
    background-image: url(../img/pergaminho.png);
    background-size: cover;
    width: 700px;
    height: 635px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto{
    width: 480px;
    height: 310px;
    margin: auto;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: normal;
}

.botao{
    width: 100%;
    height: 200px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    width: 120px;
    height: 40px;
    align-items: center;
    background-color: rgb(143, 7, 7);
}

.botao a {
    color: white;
    text-decoration: none;
}


footer{
    width: 100%;
    height: 40px;
    background-color: #808080;
}

footer p{
    padding: 15px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #808080;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}




@media (max-width: 700px){

    body{
        width: 100%;
        margin: 0px;
    }

    .main{
        padding: 0 0 30px 0;
        width: 700px;
        height: 1500px;
        background-size: cover;
    }

    h1{
        font-size: 14px;
    }

    .pergaminho{
        background-image: none;
        height: 700px;
    }

    .texto{
        width: 700px;
        color: rgb(138, 3, 3)
    }

    .botao{
        width: 700px;
        height: 50px;
    }

    button{
        width: 120px;
        height: 40px;
    }

    footer{
        width: 700px;
    }
}